<footer class="mt-4">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-6 text-center text-md-start left">
				<img src="{{ theme_url }}/images/logo-radikal.svg" alt="" loading="lazy" class="mb-1 footer-brand" />
				<p>Konten di situs web ini berlisensi <a href="{{ base_url }}/lisensi" style="display:inline-block">CC BY-SA 4.0</a>.<br/>© 2025 <a href="https://radikal.id/id">radikal studio</a> &amp; para <a href="{{ base_url }}/kontributor">Kontributor</a>			
				</p>				
				<p class="social">
					<a href="https://linkedin.com/company/radikalid/" class="btn btn-social"><i class="fab fa-linkedin-in" aria-hidden="true"></i><span class="visually-hidden">LinkedIn radikal studio</span></a>
					<a href="https://instagram.com/radikal.id" class="btn btn-social"><i class="fab fa-instagram" aria-hidden="true"></i><span class="visually-hidden">LinkedIn @radikal.id</span></a>
				</p>
			</div>
			<div class="col-md-6 text-center text-md-end right">
				<ul class="list-unstyled row">
					<li class="col-12 col-md-12">
						<a href="https://radikal.kit.com/78522e5a1a" target="_blank">Langganan Newsletter</a>
					</li>
					<li class="col-6 col-md-12"><a href="{{base_url}}/dukung">Beri Dukungan</a></li>
					<li class="col-6 col-md-12"><a href="{{base_url}}/tentang">Tentang Aksesibel</a></li>
					<li class="col-6 col-md-12"><a href="https://radikal.id/id/aksesibilitas">Pernyataan Aksesibilitas</a></li>
					<li class="col-6 col-md-12"><a href="https://radikal.id/id/privasi">Kebijakan Privasi</a></li>
				</ul>
			</div>
			<div class="col-12 text-center">
				<a href="#atas" class="btn btn-yellow"><i class="fal fa-arrow-up-to-line" aria-hidden="true"></i><br>Kembali ke atas</a>
			</div>

		</div>
	</div>
</footer>
