<div class="row post-meta">
	{% set authors_data = grav.config.get('authors') %}
	{% set authors = page.header.authors is iterable ? page.header.authors : [page.header.authors] %}
	{% if authors and authors[0] is not empty %}

	<dl class="col-md-6 my-0">
		<dt>
			<i class="fal fa-users" aria-hidden="true"></i><br>
			Kontributor:
		</dt>
		<dd>
			<ol class="contributor-list list-inline">
				{% for id in authors %}
				{% set author = authors_data[id] ?? null %}
				<li class="list-inline-item">
					{% if author %}
					<a href="{{ base_url }}/kontributor/#{{ id }}">{{ author.name }}</a>
					{% else %}
					{{ id }} (tidak ditemukan)
					{% endif %}
				</li>
				{% endfor %}
			</ol>
		</dd>
	</dl>
	{% else %}

	{% endif %}

	<dl class="col-md-6 my-0">
		<dt>
			<i class="fal fa-calendar" aria-hidden="true"></i><br>
			Terakhir diperbarui:</dt>
		<dd>
			{{ page.modified|date("d M Y") }}
		</dd>
	</dl>
</div>
