

<div class="row post-meta">
{% set authors_data = grav.config.get('authors') %}
{% set authors = page.header.authors is iterable ? page.header.authors : [page.header.authors] %}
{% if authors and authors[0] is not empty %}

	<div class="col-md-6 mt-0">
		<i class="fal fa-users" aria-hidden="true"></i><br>		
		Kontributor:
		<ol class="contributor-list list-inline">
			{% for id in authors %}
				{% set author = authors_data[id] ?? null %}
				<li class="list-inline-item">
					{% if author %}
						<a href="{{ base_url }}/kontributor/#{{ id }}">{{ author.name }}</a>
					{% else %}
						{{ id }} (tidak ditemukan)
					{% endif %}
				</li>
			{% endfor %}
		</ol>
	</div>
{% else %}

{% endif %}

	<div class="col-md-6 mt-0">
		<i class="fal fa-calendar" aria-hidden="true"></i><br>
		Terbit pada {{ page.date|date("d M Y") }}.<br>
		Terakhir diperbarui {{ page.modified|date("d M Y") }}.
	</div>
</div>