{% extends 'partials/base.html.twig' %}
{% block content %}

<main class="col-lg-9 col-xl-8 min-vh-100">
	<nav class="post-navigation justify-content-between mb-1" style="--bs-breadcrumb-divider: '/';" aria-label="Breadcrumb">
		<ol class="breadcrumb breadcrumb-real">
			<li class="breadcrumb-item"><a href="{{ base_url }}">Beranda</a></li>
			<li class="breadcrumb-item visually-hidden" aria-current="page">{{ page.title }}</li>
		</ol>
	</nav>
    <article class="row justify-content-center">
        <header class="col-md-12">
			<h1 class="post-title">
				{{ page.title }}
			</h1>
			<p class="lead">{{ page.header.metadata.description }}</p>
		</header>
		<section id="utama" class="post-content col-md-12">
			{{ page.content|markdown }}
		</section>
    </article>
</main>

{% endblock %}