{% extends 'partials/base.html.twig' %}
{% block content %}
{% include 'partials/sidebar.html.twig' %}
<main class="col-lg-9 col-xl-8">
    <article class="row justify-content-center">
        <header class="col-md-12">
			<h1 class="post-title">
				{{ page.title }}
			</h1>
			<p class="lead">{{ page.header.metadata.description }}</p>
			<hr>
		</header>
		<section id="utama" class="post-content col-md-12">
			{{ page.content|markdown }}
			<div id="quiz-summary-list" class="mt-1"></div>

		</section>
    </article>
</main>
<div class="d-none d-xl-block col-xl-2">
</div>
{% block quizlist %}
  {{ assets.js('quizlist')|raw }}
{% endblock %}
{% block quizprogress %}
  {{ assets.js('quizprogress')|raw }}
{% endblock %}
{% endblock %}

